<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%.15t] %-5p %c{1}:%L - %m%n" />
        </Console>
		<Console name="ErrorConsole" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%.15t] %-5p %c{1}:%L - %m%n" />
		</Console>
    </appenders>

    <loggers>
        <root level="WARN">
            <appender-ref ref="Console" />
        </root>
    </loggers>
</configuration>